main.add-task {
  font-size: 1.2rem;

  input {
    accent-color: var(--light-green);

    &[type="text"] {
      border-radius: 20px;
      padding: 2px 8px;
      border: none;
      background-color: white;
      color: black;

      &:focus,
      &:hover {
        outline: 3px solid var(--light-green);
      }
    }

    &[type="date"] {
      margin: 0 5px;
      border-radius: 20px;
      padding: 2px 8px;
      border: none;
      background-color: white;
      color: black;

      &:focus,
      &:hover {
        outline: 3px solid var(--light-green);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    min-width: 250px;

    > div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      &.multi-level {
        flex-direction: column;
        margin-bottom: 25px;

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 8px 0 0 0;
          width: fit-content;

          > label {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 5px 20px 0 0;
            text-align: left;
            width: auto;
          }
        }
      }

      > label {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 15px;
        text-align: left;
      }

      > input {
        height: 1.3rem;
      }
    }
  }

  .multi-day-container {
    margin: 10px;
    display: inline;
    margin-left: auto;
    align-items: center;

    label {
      font-size: 1rem;
      font-weight: lighter;
      margin-right: -5px;
    }
  }
}
