main.signin {
  margin-top: 10%;
  margin-bottom: auto;

  > div {
    margin: 20px;
  }

  h1 {
    display: inline;
    margin: 3px;
  }

  .authenticated {
    .username {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      font-size: large;
      font-weight: 600;
    }
    button {
      font-size: large;
      padding: 10px;
      border-radius: 30px;
    }
  }

  .account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 300px;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .error-message {
      width: auto;
      color: red;
      font-size: large;
      text-align: center;
      margin-top: -20px;
    }

    span {
      width: 20%;
      padding: 10px;
      font-size: large;
    }

    input {
      margin: 10px;
      padding: 5px;
      border-radius: 30px;
      border: 2px solid var(--light-green);
      width: 80%;

      &:focus {
        outline: 3px solid var(--light-green);
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      button {
        margin: 15px 20px;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: large;
      }
    }
  }
}
