main.task-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: fit-content;

    .list-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      h3 {
        margin: 0 10px;
        text-align: center;
      }
    }

    .list {
      padding: 0;

      li {
        list-style: none;
        margin: 10px -10px;

        input {
          margin: 0 10px;
          border-radius: 50%;
          border: none;
          accent-color: var(--light-green);
        }

        span:hover {
          cursor: pointer;
          color: var(--light-green);
        }
      }
    }

    .empty-list {
      p {
        text-align: center;
      }
    }

    .add-task-link {
      align-self: center;
      margin: 0 auto;
      button.add-task {
        align-self: center;
      }
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 40px;
  }

  .collaborators-container {
    li > span {
      margin: 0 5px;
    }
    .share-input {
      border: none;
      border-bottom: 1px solid var(--light-green);
      background: none;
      outline: none;
      padding: 5px 0;
      color: white;
    }
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .weather-title {
      margin: 40px 0 20px 0;
    }

    .weather-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      .weather-item {
        margin: 0 50px;

        h4 {
          margin: 10px 0 5px 0;
        }

        .weather-skeleton-icon {
          width: 64px;
          height: 64px;
          display: inline-block;
        }
        .weather-skeleton-temp {
          padding: 0 8px;
        }
      }
    }
  }
}
