:root {
    --light-green: rgb(56, 199, 56);
    --dark-green: rgb(32, 77, 5);
    --background: rgb(13, 15, 12);
    --darkened-white: rgb(255, 255, 255, 0.75);
    --darkened-green: rgb(55, 200, 55, 0.75);
}

.light-green {
    color: var(--light-green);
}
.dark-green {
    color: var(--dark-green);
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: var(--background);
    color: white;
}

header {
    flex: 0 80px;
    background-color: var(--dark-green);
    border-bottom: 2px solid white;
}

header .logo-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

header .logo-section img {
    height: 60px;
    width: 60px;
}

header .logo-section h1 {
    padding-left: 20px;
    margin: 0;
    font-size: 3.5em;
    color: var(--light-green);
}


menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
}

menu li {
    padding: 0 1em;
    text-decoration: none;
}

menu li a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
}

menu li a:hover {
    color: var(--darkened-white);
}

menu li a.selected {
    font-weight: bold;
    color: var(--light-green);
}

menu li a.selected:hover {
    color: var(--darkened-green);
}

main {
    flex: 1 calc(85vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

main.signin {
    margin-top: 10%;
    margin-bottom: auto;
}

main.signin>div {
    margin: 20px;
}

main.signin h1 {
    display: inline;
    margin: 3px;
}

main.signin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 300px;
}

main.signin form>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main.signin form span {
    width: 20%;
    padding: 10px;
    font-size: large;
}

main.signin form input {
    margin: 10px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid var(--light-green);
    width: 80%;
}

main.signin form input:focus {
    outline: 3px solid var(--light-green);
}

main.signin form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid var(--light-green);
    background-color: var(--dark-green);
    color: white;
}

button:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
}

select {
    margin: 10px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid var(--dark-green);
    width: 80%;
}

select:hover, select:focus {
    outline: 3px solid var(--light-green);
}

select>option {
    background-color: var(--dark-green);
    color: white;
}

main.signin form .buttons button {
    margin: 15px 20px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: large;
}


footer {
    flex: 0 30px;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

footer hr {
    border-color: var(--dark-green);
}

footer a {
    float: right;
}

@media (max-height: 600px), (max-width: 450px) {
    header {
        height: fit-content;
        flex: none;
    }
    header .logo-section {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        flex: 1 100vh;
    }
}