:root {
  --light-green: rgb(56, 199, 56);
  --dark-green: rgb(32, 77, 5);
  --background: rgb(13, 15, 12);
  --darkened-white: rgb(255, 255, 255, 0.75);
  --darkened-green: rgb(55, 200, 55, 0.75);
}

.light-green {
  color: var(--light-green);
}

.dark-green {
  color: var(--dark-green);
}

body {
  background-color: var(--background);
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
  background-color: var(--dark-green);
  border-bottom: 2px solid white;

  .logo-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

    img {
      height: 60px;
      width: 60px;
    }

    h1 {
      padding-left: 20px;
      margin: 0;
      font-size: 3.5em;
      color: var(--light-green);
    }
  }
}

menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;

  li {
    padding: 0 1em;
    text-decoration: none;

    a {
      text-decoration: none;
      font-size: large;
      font-weight: bold;
      color: white;

      &:hover {
        color: var(--darkened-white);
      }

      &.selected {
        font-weight: bold;
        color: var(--light-green);

        &:hover {
          color: var(--darkened-green);
        }
      }
    }

    &.nav-item {
      padding: 0 0.3em;
    }
  }
}

/* General Styles */
main {
  flex: 1 calc(85vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

button {
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid var(--light-green);
  background-color: var(--dark-green);
  color: white;

  &:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
  }
}

select {
  margin: 10px;
  padding: 5px;
  border-radius: 30px;
  border: 2px solid var(--dark-green);
  width: 80%;

  &:hover,
  &:focus {
    outline: 3px solid var(--light-green);
  }

  > option {
    background-color: var(--dark-green);
    color: white;
  }
}
/* End General Styles */

footer {
  flex: 0 30px;

  hr {
    border-color: var(--dark-green);
  }

  a {
    float: right;
  }
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

@media (max-height: 600px), (max-width: 450px) {
  header {
    height: fit-content;
    flex: none;

    .logo-section {
      display: none;
    }
  }

  footer {
    display: none;
  }

  main {
    flex: 1 100vh;
  }
}